.title{
  width: 600px;
  height: auto;
  margin-top:auto;
  margin-left:15%;
  margin-bottom:auto;
  margin-right:auto;
  }
.photo{
  width: 600px;
  height: auto;
  margin-top:auto;
  margin-left:15%;
  margin-bottom:auto;
  margin-right:auto;
  }
